# Ignore a specific file
# data_processing.ipynb

# Ignore all .log files
*.ipynb
*.pkl
*.sbatch
*.sh
*.out
*.csv

# Ignore a specific directory
data/
exp_results/
result/
runs/
Feature/
sh_run/
__pycache__/

# Ignore all .txt files in a specific directory
*/__pycache__/

