# Ignore a specific file
# data_processing.ipynb

# Ignore all .log files
*.ipynb
*.pkl
*.sbatch
# *.sh
*.out
# *.csv
*.sbatch

# Ignore a specific directory
result/
runs/
Feature/
CPI_baseline/PerceiverCPI/
sh_run/
__pycache__/

# Ignore all .txt files in a specific directory
*/__pycache__/

data/qi_fgfr_time_v2.csv

exp_results/KANO_Prot/qi_fgfr_time_v2/
